.eosc-common {
  .container {
    max-width: 1180px;
  }

  .demo {
    position: relative;
  }

  .demo {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      //background: crimson;
      opacity: 0.2;
      color: rgba(220, 20, 60);
      font-weight: 900;
      padding: 5px 10px;
      text-transform: uppercase;
      content: "demo instance";
      background-color: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.53);
      -moz-box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.53);
      box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.53);
    }
  }
}
