eosc-common-main-header {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: unset;
    padding-top: 20px;

    a {
      color: $color-text;
    }

    .menu {
      text-align: right;
      position: relative;

      &__label {
        &::after {
          content: '';
          position: absolute;
          border-style: solid;
          border-color: $palette-gray-70;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          width: 9px;
          height: 9px;
          right: 10px;
          top: 5px;
        }

        &--unauth {
          &::after {
            display: none;
          }
        }
      }

      .dropdown-toggle {
        border: none;
        background: transparent;
        padding-right: 30px;
        position: relative;
        text-align: right;
        display: block;
        cursor: pointer;

        &::after {
          display: none;
        }

      }

      &__hamburger {
        display: none;
        position: absolute;
        top: 17px;
        right: 0;
        cursor: pointer;

        span {
          width: 26px;
          height: 3px;
          margin-bottom: 5px;
          position: relative;
          background: $color-text;
          border-radius: 3px;
          z-index: 1;
          display: block;
        }
      }

      .dropdown-menu {
        // need to overwrite bootstrap > !important
        border-top: 2px solid $color-secondary;
        padding: 0;
        width: 100%;
        transform: none !important;
        left: 0;
        top: 28px !important;
        box-shadow: $box-shadow-default;

        a {
          padding: 10px 15px;
          display: block;
          font-size: 1rem;

          &:hover,
          &:active {
            color: $color-link;
            background: transparent;
          }
        }
      }


    }
  }

  .open-menu {
    display: none;
  }

  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    background-color: $white;
    background-image: url('../images/home-bg.png');
    background-size: 1000px auto;
    background-position: top -105px right -100px;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s;

    .closebtn {
      position: absolute;
      top: 47px;
      z-index: 10;
      color: $body-color;
      right: 30px;
      padding: 0;
      font-size: 45px;
      display: block;
      height: 33px;
      width: 33px;
      cursor: pointer;

      &::before,
      &::after {
        position: absolute;
        content: ' ';
        height: 33px;
        width: 3px;
        background-color: $palette-solid-100;
        right: 16px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    height: 100vh;
  }

  .mobile-links {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;

    ul {
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;

        .simple-item {
          font-size: 30px;
          color: $body-color;
        }

        .logout-link {
          padding-left: 5rem;
          padding-right: 5rem;
        }
      }
    }
  }

  .bottom-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $palette-gray-5;

    ul {
      text-align: center;

      a {
        color: $palette-gray-50;
        padding: 15px 0 !important;
        font-size: 14px;
        display: block;
      }
    }

  }

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 13px;
    }

    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  @media (max-width: 992px) {

    header .bg-light {
      display: none;
    }

    .open-menu {
      display: block;
      text-align: right;
      cursor: pointer;
      margin-bottom: 10px;
      font-size: 17px;
      line-height: 1;

      svg {
        margin-left: 5px;
        font-size: 19px;
        line-height: 1;
      }
    }

    .navbar-toggler {
      display: none;
    }

    .navbar-collapse {
      float: right;
      max-width: 100%;
      width: 100%;
    }

    .navbar-brand {
      padding: 25px 10px 33px 0;
    }

    .navbar-brand img {
      width: 176px;
      margin-left: 15px;
    }

    .navbar-brand .logo-bg {
      position: absolute;
      top: 0;
      left: -10px;
      width: 220px;
      background-size: 100% auto;
      background-position: top left;
      height: 105px;
    }

    .navbar.navbar-expand-lg .navbar-nav .nav-link {
      text-align: right;
    }
  }

  @media (max-width: 992px) {

    .header {
      flex-direction: column;
      align-items: normal;

      .menu {
        position: absolute;
        top: 35px;
        right: 20px;
        width: auto;

        button {
          padding-right: 0;
        }

        &__label {
          display: none;
        }

        &__hamburger {
          display: block;
        }
      }
    }

  }

  @media (max-width: 576px) {

    .header {

      .menu__hamburger {
        top: 9px;
      }
    }
  }
}
