@import "shared";

eosc-common-main-footer {
  .footer {
    width: 100%;
    background-color: $color-4;
    font-weight: 300;
    padding: $font-size-base 0;

    .arrow-up {
      margin: -67px auto 8px;
      display: block;
      width: 162px;
      height: 60px;
      background: url('assets/arrow-up.png') top center no-repeat;
    }

    .logo-one {
      background: url('assets/eosc-logo-mono.png') top center no-repeat;
      width: 203px;
      height: 79px;
      display: block;
    }

    .logo-two {
      background: url('assets/eosc-footer-logo.png') center no-repeat;
      width: 148px;
      height: 79px;
      display: block;
    }

    .copyright {
      text-align: right;
      font-size: calc(0.875 * #{$font-size-base});
      font-weight: 700;

      a {
        text-transform: uppercase;
        font-size: calc(0.75 * #{$font-size-base});
        margin-left: 10px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    ul {
      line-height: calc(1.1 * #{$font-size-base});
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        margin-bottom: calc(0.25 * #{$font-size-base});
        font-size: calc(0.68 * #{$font-size-base});
        font-weight: 700;
        color: $color-white;

        a {
          font-size: calc(0.68 * #{$font-size-base});
          font-weight: 700;
          line-height: 1.1;

          &:hover {
            text-decoration: none;
          }
        }

      }
    }

    .title {
      color: $color-white;
      font-weight: 200;
      line-height: 1.2;
      font-size: calc(0.875 * #{$font-size-base});
      margin-bottom: calc(0.5 * #{$font-size-base});

      a {
        font-size: calc(0.875 * #{$font-size-base});
        color: $color-white;
        font-weight: 200;
      }
    }

    a {
      color: $color-white;
      font-size: calc(1 * #{$font-size-base});

      &:hover {
        color: $color-secondary;
      }
    }

    hr {
      border-color: $color-6;
    }

    .copy-text {
      color: $color-6;
    }

    .social-logo {
      width: 38px;
      height: 40px;
      margin-right: 10px;
      display: inline-block;
    }

    .twitter-logo {
      background: url('assets/t-icon.svg') top center no-repeat;
    }

    .yt-logo {
      background: url('assets/yt-icon.svg') top center no-repeat;
    }
  }
}
